.window {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
  background: #fff;
  border: 1px solid #000;
}

.window .title-bar {
  height: 30px;
  background: #ccc;
  line-height: 30px;
  padding-left: 10px;
}

.window .title-bar .title {
  float: left;
}

.window .title-bar .buttons {
  float: right;
}

.window .title-bar .buttons .btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
}

.window .content {
  padding: 10px;
}